/* Media Query para dispositivos menores */
@media screen and (max-width: 600px) {
  .container {
    width: 95%; /* Reduz a largura do container em dispositivos menores */
    padding: 10px; /* Reduz o padding para economizar espaço */
    margin-left: -40px;
  }

  h1 {
    margin-top: 280px;
  }

  /* Estilos para a foto do desenvolvedor em dispositivos menores */
  .developer-registration {    
    margin-bottom: 10px; /* Reduz a margem inferior da imagem */
  }

  /* Estilos para os campos de entrada, seleção e área de texto em dispositivos menores */
  input,
  select,
  textarea {
    padding: 8px; /* Reduz o padding para economizar espaço */ 
  }
}
